.ftco-section{
  background-image: url(src/assets/images/pexels-pixabay-247676.jpg);
  background-size: cover;
  height:700px;
  width: 750x;
  text-emphasis-color: azure;
}                                                                                                                             