<p>view-projects works!</p>

<table class="table table striped" >
  <thead>
    <tr>
      <th>id</th>
      <th>email</th>
    </tr>
    
  </thead>
  <tbody>
    <tr *ngFor = "let project of ProjectList">
      <td>{{ project.id }}</td>
      <!-- <!-- <td>{{project.email}}</td> -->
      <td>{{ project.project_type }}</td>
      <td>{{ project.project_landingpage }}</td>
      <td>{{ project.project_description }}</td>
      <td>{{ project.project_owner }}</td>
      <td>{{ project.project_member1 }}</td>
      <td>{{ project.project_member2 }}</td>
      <td>{{ project.project_member3 }}</td>
      <td>{{ project.project_member4 }}</td>
      <td>{{ project.project_member5 }}</td>
      <td>{{ project.project_member6 }}</td>
      <td>{{ project.github_link }}</td> -->

    </tr>
  </tbody>

</table>