


<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-outline-dark float-left m-2 " data-bs-toggle="modal" data-bs-target="#exampleModal" (click) ="uplodProject()"  >
  Upload Project
</button><br>

<!-- Modal -->
<div class="modal fade modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeClick()"  ><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <app-uplod-project [proj] = "proj" *ngIf ="ActivateAddEditPrjComp" ></app-uplod-project>
      </div>
      
    </div>
  </div>
</div>


<div class="row cardrow" *ngFor = "let project of ProjectList" >
  <!-- <div class="column"  > -->
    <div class="card mb-3 justify-content-center" style="width: 1000px; ">
      <div class="row ">
        <div class="col-md-4">
          <img src="https://protrackerokedrf.herokuapp.com/media{{ project.project_landingpage }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <ul class="list-group list-group-flush">
            <label class="text-primary" >Project Type</label>
            <li class="list-group-item">{{ project.project_type }}</li>
            <label class="text-primary" >Project Owner</label>
            <li class="list-group-item" >owner{{ project.project_owner }}</li>
            <li class="list-group-item" > <div class="dropdown">
              <button class="dropbtn">Members</button>
              <div class="dropdown-content">
                <a href="#">{{ project.project_member1 }}</a>
                <a href="#">{{ project.project_member2 }}</a>
                <a href="#">{{ project.project_member3 }}</a>
                <a href="#">{{ project.project_member4 }}</a>
                <a href="#">{{ project.project_member5 }}</a>
                <a href="#">{{ project.project_member6 }}</a>
              </div>
            </div></li>
          </ul>
          
          <div class="card-body">
            <h5 class="card-title">{{ project.project_name }}</h5>
            <p class="card-text">{{ project.project_description }}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>

          <button type="button" class="btn btn-light mr-1"
        data-bs-toggle="modal" data-bs-target="#exampleModal" (click) ="updateProject(project)" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
        </svg> Update
         </button>

         <button type="button" class="btn btn-light mr-1" (click) ="deleteProject(project)" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>Delete </button>

        </div>
      </div>
    </div>
  </div>

  <!-- <div class="column">
    <div class="card mb-3" style="max-width: 540px;" fxFlex="50%" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="http://127.0.0.1:8000media {{project.project_landingpage}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <ul class="list-group list-group-flush">
            <label class="text-primary" >Project Type</label>
            <li class="list-group-item">{{ project.project_type }}</li>
            <label class="text-primary" >Project Owner</label>
            <li class="list-group-item" >owner{{ project.project_owner }}</li>
            <li class="list-group-item" > <div class="dropdown">
              <button class="dropbtn">Members</button>
              <div class="dropdown-content">
                <a href="#">{{ project.project_member1 }}</a>
                <a href="#">{{ project.project_member2 }}</a>
                <a href="#">{{ project.project_member3 }}</a>
                <a href="#">{{ project.project_member4 }}</a>
                <a href="#">{{ project.project_member5 }}</a>
                <a href="#">{{ project.project_member6 }}</a>
              </div>
            </div></li>
          </ul>
          
          <div class="card-body">
            <h5 class="card-title">{{ project.project_name }}</h5>
            <p class="card-text">{{ project.project_description }}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>

          <button type="button" class="btn btn-light mr-1"
        data-bs-toggle="modal" data-bs-target="#exampleModal" (click) ="updateProject(project)" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
        </svg> Update
         </button>

         <button type="button" class="btn btn-light mr-1" (click) ="deleteProject(project)" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>Delete </button>

        </div>
      </div>
    </div>
    

  </div>
   
</div> -->