<h3><strong>Upload new project</strong></h3>

<form action="/action_page.php">
  <label>Project name</label> 
  <input type="text"  placeholder="Project name" value=""><br><br>
  <label>Description</label>
  <input type="text"  placeholder="Description" value=""><br><br>
  <label>Owner/Member</label>
  <input type="text"  placeholder="Owner/Member" value=""><br><br>
  <label>Language</label>
  <input type="text"  placeholder="Language" value=""><br><br>
  <label>Category</label>
  <input type="text"  placeholder="Category" value=""><br><br>
  <label>Github Link</label>
  <input type="text"  placeholder="Github link" value=""><br><br>
  <label>Project Landing Page</label>
  <input type="text"  placeholder="Live link" value=""><br><br>

  <input type="Submit" value="Submit">
</form> 
