<p>register works!</p>
<div style="text-align:center">
  <h5>Please Register</h5>
<input style="text-align:center" [(ngModel)] = "register.username" placeholder="Username"><br><br>
<input style="text-align:center" [(ngModel)] = "register.password" type="password" placeholder="Password"><br><br>
<input style="text-align:center" [(ngModel)] = "register.email" placeholder="Email"><br><br>

<button (click)= "registerUser()" class="glow-on-hover" type="button">Register!</button>

<!-- <button (click)= "registerUser()" >Register</button> -->
</div>

  
     
  
  
  

